
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body, h1, h2 {
	background: white;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    line-height: 1.4;
}

#container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

/* change the color for the header, add some more css like pading, text-align and background-color */
header {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    color: black;
    margin: 0;
}

header h1{
    font-size: 1.5em;
}

/* style the article to match the real layout */
article {
    background-color: white;
    padding: 15px;
    margin: 0;
    text-decoration: none;
}

main article img{
    max-width: 150%;
    height: auto;
    margin-bottom: 25px;
    padding: 0;
}

/* style h2 by font-weight, margin, padding size and so on.. */
h2{
    font-size: 200%;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    padding: 0;
}

/* set color, size, padding, and margin for p */
p {
    color: rgb(92, 91, 91);
    margin-bottom: 15px;
    padding: 2px;
    font-size: 1em;
}

strong {
    font-weight: bolder;
    color: orange;
}

footer {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 1em;
}

footer time{
    font-weight: bold;
    size: 1em;
}

footer small{
    display: block;
    size: 1em;
}