html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body, h1, h2 {
	background: white;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

#container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

/* change the color for the header, add some more css like pading, text-align and background-color */
header {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    color: black;
    margin: 0;
}

/* style the article to match the real layout */
article {
    background-color: white;
    padding: 15px;
    margin: 0;
    text-decoration: none;
}

main article img{
    max-width: 150%;
    height: auto;
    margin-bottom: 25px;
    padding: 0;
}

/* style h2 by font-weight, margin, padding size and so on.. */
h2{
    font-size: 200%;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    padding: 0;
}